@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.2)) ,url(/static/images/bg2.jpg);
    background-size: cover;
    font-family:'Poppins',sans-serif;
}
nav{
    width:100%;
    height: 100px;
   color: aliceblue;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.logo{
    font-size: 2em;
    letter-spacing: 2px;
}
.menu a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px 20px;
    font-size: 20px;
}
.menu a:hover{
    border: 1px solid #a6bef0;
    background: blue;
    border-radius: 8px;
}
.register a{
    text-decoration: none;
    color: rgb(0, 4, 7);
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    background: #a6bef0;
}
.register a:hover{
    border: 1px solid #a6bef0 ;
    background: blue;
}
.h-text{
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 650px;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
}
.h-text span{
    letter-spacing: 5px;
}
.h-text h1{
    font-size: 3.5em;
}
.h-text a{
    text-decoration: none;
    background: #a6bef0;
    padding: 10px 20px;
    color: rgb(0, 3, 6);
    letter-spacing: 5px;
    border-radius: 8px;
    transition: 0.4s;
}
.h-text a:hover{
    border: 1px solid #a6bef0 ;
    background: blue;
}

