<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FCI | Welcome</title>
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="logo">FCI</div>

            <div class="menu">
                <a href="#">Home</a>
                <a href="#">Explore</a>
                <a href="#">Courses</a>
                <a href="#">Contact</a>
            </div>

            <div class="register">
                    <a href="{% url 'login' %}" style="background-color: #00d4ff; color: #000;">Login</a>
            </div>
        </nav>

        <section class="h-text">
            <span>Welcome To</span>
            <h1>FCI Platform</h1>
            <br>
                <a href="{% url 'signup' %}">Sign Up Now</a>
        </section>

    </header>
</body>
</html>