:root{
    --primary-color:#c6c3c3;
    --second-color:#ffffff;
    --black-color:#000000;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}
body{
    background-image: url(/static/images/bg2.jpg);
    background-position: center;
    background-size: cover;
    background-position: no-repeat;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    text-decoration: underline;
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgba(0,0,0,0.2);
}
.login-box{
    position: relative;
    width: 450px;
    backdrop-filter: blur(25px);
    border:2px solid var(--primary-color);
    border-radius: 15px;
    padding: 7.5em 2.5em 4em 2.5em;
    color: var(--second-color);
    box-shadow: 0px 0px 10px 2px rgba(248, 247, 247, 0.3);
}
.login-header{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 140px;
    height: 70px;
    border-radius: 0 0 20px 20px ;
}
.login-header span{
    font-size: 30px;
    color: var(--black-color);

}
.login-header::before{
    content:"";
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    border-top-right-radius: 50%;
    background: transparent;
    box-shadow: 15px 0 0 0 var(--primary-color);
}
.login-header::after{
    content:"";
    position: absolute;
    top: 0;
   right: -30px;
    width: 30px;
    height: 30px;
    border-top-left-radius: 50%;
    background: transparent;
    box-shadow: -15px 0 0 0 var(--primary-color);
}
.input_box{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.input-field{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}
#user{
    margin-bottom: 10px;
}
.label{
    position: absolute;
    top: 15px;
    left: 20px;
    transition: 0.2s;

}
.input-field:focus~.label,
.input-field:valid~.label{
    position: absolute;
    top: -10px;
    left: 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 30px;
    color: var(--black-color);
    padding: 0 10px;
}
.icon{
    position: absolute;
    top: 18px;
    right: 25px;
    font-size: 20px;
}
.remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 15px;  
}
.input-submit{
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    color: rgb(4, 0, 0);
    display: flex;            
    align-items: center;       
    justify-content: center;   
    padding: 0; 

    
   

}
.input-submit:hover{
    background: var(--second-color);
}
.register{
    text-align: center;
}
.register a{
    font-weight: 500;
}
.form{
    width:400px;
    height: 800px;
    background: linear-gradient(to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 60px;
    left: 590px;
    border-radius: 10px;
    padding: 25px;
}
.form h2{
    width: 270px;
    font-family: sans-serif;
    text-align: center;
    color:#010004 ;
    background-color: #a6bef0;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 35px;
    height: 40px;
    
   
   
    border: none;
    margin-top: 30px;
  
    margin-bottom: 35px;
    font-size: 30px;
    
    cursor: pointer;
   
    transition: 0.4s ease;
   
}
.form input{
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
     position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: aliceblue;
    font-family:arial;
}
.btnn{
    width: 240px;
    height: 40px;
    background:#a6bef0;
    border: none;
    margin-top: 30px;
    margin-left: 50px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: aliceblue;
    transition: 0.4s ease;
    text-align: center;
    
   
   
   
   
}
.btnn:hover{
    background: aliceblue;
    color:blue;
}
.btnn a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    position: relative;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link .a{
    text-decoration: none;
    color:blue;
}
.liw{
    padding-top: 15px;
    padding-bottom:10px ;
    text-align: center;
    color: #ececec;
}
.icons a{
    text-decoration: none;
    color: aliceblue;
}
.icons {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    gap: 25px;                    /* مسافة بين الأيقونتين */
    margin-top: 20px;
    padding: 10px 0;
}
.icons ion-icon{
    color: aliceblue;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons ion-icon:hover{
    color:blue;
}
.icons2 a{
    text-decoration: none;
    color: aliceblue;
}
.icons2 {
    display: flex;                
    justify-content: center;      
    align-items: center;          
    gap: 25px;                    /* مسافة بين الأيقونتين */
    margin-top: 20px;
    padding: 10px 0;
}
.icons2 ion-icon{
    color: aliceblue;
    font-size: 30px;
    padding-left: 0px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icons2 ion-icon:hover{
    color:blue;
}
@media only screen and(max-width:564px){
    .wrapper{
        padding: 20px;
    }
    .login-box{
        padding: 7.5em 1.5em 4 em 1.5em;
    }
}